{% extends 'rangoapp/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href=" {{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <a href="/rangoapp/category/{{category.slug}}/add_page/">Add a new Page</a> <br />
    {% else %}
        The specified category does not exist!
    {% endif %}
</div>
<a href="/rangoapp/">Home Page</a>
{% endblock %}